{% extends "layout.html" %}
{% block content %}

<h2>Transfer Posted</h2>
<br>

<table border="1" cellpadding="6" cellspacing="0" bgcolor="#e0ffe0" width="520">
<tr><td><font color="#006000"><b>Transfer completed successfully. The funds have been posted to the ledger.</b></font></td></tr>
</table>
<br>

<table border="1" cellpadding="8" cellspacing="0" bgcolor="#ffffff" width="520">
<tr>
  <td bgcolor="#e8e8e8" width="190">Confirmation Reference</td>
  <td><b>{{ reference }}</b></td>
</tr>
<tr>
  <td bgcolor="#e8e8e8">Member</td>
  <td>{{ customer.name }} ({{ customer.customer_id }})</td>
</tr>
<tr>
  <td bgcolor="#e8e8e8">Target Account Number</td>
  <td>{{ target_account }}</td>
</tr>
<tr>
  <td bgcolor="#e8e8e8">Amount Transferred</td>
  <td>{{ amount|money }} USD</td>
</tr>
<tr>
  <td bgcolor="#e8e8e8">Remaining Savings Balance</td>
  <td>{{ customer.savings_balance|money }} USD</td>
</tr>
</table>
<br>

<a href="/members/{{ customer.customer_id }}?tab=account">View updated balances</a>
&nbsp;|&nbsp;
<a href="/search">Return to Member Search</a>

{% endblock %}
