{% extends "layout.html" %}
{% block content %}

<h2>Confirm Funds Transfer &mdash; {{ customer.name }} ({{ customer.customer_id }})</h2>
<font size="1">Step 2 of 2: review the instruction below. No funds have moved yet.</font>
<br><br>

<table border="1" cellpadding="6" cellspacing="0" bgcolor="#fff8d0" width="520">
<tr><td><font color="#806000"><b>This transfer has not been posted. Select Confirm Transfer to post it to the ledger.</b></font></td></tr>
</table>
<br>

<table border="1" cellpadding="8" cellspacing="0" bgcolor="#ffffff" width="520">
<tr>
  <td bgcolor="#e8e8e8" width="190">Member</td>
  <td>{{ customer.name }} ({{ customer.customer_id }})</td>
</tr>
<tr>
  <td bgcolor="#e8e8e8">Source Account</td>
  <td>Savings</td>
</tr>
<tr>
  <td bgcolor="#e8e8e8">Target Account Number</td>
  <td>{{ target_account }}</td>
</tr>
<tr>
  <td bgcolor="#e8e8e8">Amount</td>
  <td><b>{{ amount|money }} USD</b></td>
</tr>
<tr>
  <td bgcolor="#e8e8e8">Balance After Posting</td>
  <td>{{ (customer.savings_balance - amount)|money }} USD</td>
</tr>
</table>
<br>

<table border="0" cellpadding="0" cellspacing="0">
<tr>
  <td>
    <form method="POST" action="/members/{{ customer.customer_id }}/transfer/confirm">
    <input type="hidden" name="amount" value="{{ amount }}">
    <input type="hidden" name="target_account" value="{{ target_account }}">
    <input type="submit" value="Confirm Transfer">
    </form>
  </td>
  <td width="20">&nbsp;</td>
  <td>
    <form method="GET" action="/members/{{ customer.customer_id }}/transfer">
    <input type="submit" value="Go Back and Edit">
    </form>
  </td>
</tr>
</table>

{% endblock %}
